-# Copyright Daniel Meißner <dm@3st.be>, 2012
-#
-# This file is part of FreifunkKBUInfoPage.
-#
-# FreifunkKBUInfoPage is free software: you can redistribute it and/or modify
-# it under the terms of the GNU General Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.
-#
-# FreifunkKBUInfoPage is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU General Public License for more details.
-#
-# You should have received a copy of the GNU General Public License
-# along with FreifunkKBUInfoPage. If not, see <http://www.gnu.org/licenses/>.

%h2= t('participation.header')


%ol
  %li.use
    %h3= t('participation.use.headline')

    .description
      = textilize(t('participation.use.text'))

  %li.use
    %h3= t('participation.extention.headline')

    .description
      = textilize(t('participation.extention.text'))

  %li.use
    %h3= t('participation.community.headline')

    .description
      = textilize(t('participation.community.text'))