%h2= t('participation.header')


%ol
  %li.use
    %h3= t('participation.use.headline')

    .description
      = textilize(t('participation.use.text'))

  %li.use
    %h3= t('participation.extention.headline')

    .description
      = textilize(t('participation.extention.text'))

  %li.use
    %h3= t('participation.community.headline')

    .description
      = textilize(t('participation.community.text'))