-# Copyright Daniel Meißner <dm@3st.be>, 2012
-#
-# This file is part of FreifunkKBUInfoPage.
-#
-# FreifunkKBUInfoPage is free software: you can redistribute it and/or modify
-# it under the terms of the GNU General Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.
-#
-# FreifunkKBUInfoPage is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU General Public License for more details.
-#
-# You should have received a copy of the GNU General Public License
-# along with FreifunkKBUInfoPage. If not, see <http://www.gnu.org/licenses/>.

!!! xml
!!!
%html{:xmlns => 'http://www.w3.org/1999/xhtml', :lang => :en, 'xml:lang' => :en}
  %head
    = render '_head'

  %body
    #container

      #language
        = render '_language'

      #header
        %h1= t('site.name')

        #logo
          %img{:src => '/img/kbu_logo.png', :alt => 'Freifunk Köln, Bonn und Umgebung'}

      #menu
        = render '_menu'

      #content
        = yield

      #footer